# Fitting a Logistic Regression Model - Lab

## Introduction
In the last lecture, you were given a broad overview of logistic regression. This included two seperate packages for creating logistic regression models. We'll first investigate building logistic regression models with 

## Objectives

You will be able to:
* Understand and implement logistic regression

## Review

The stats model example we covered had four essential parts:
    * Importing the data
    * Defining X and y
    * Fitting the model
    * Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
y, X = dmatrices('Target ~ Age  + C(Race) + C(Sex)',
                  salaries, return_type = "dataframe")

#Step 3: Fitting the model
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

The `dmatrices()` method above mirrors the R languages syntax. The first parameter is a string representing the conceptual formula for our model. Afterwards, we pass the dataframe where the data is stored, as well as an optional parameter for the formate in which we would like the data returned. The general pattern for defining the formula string is: `y_feature_name ~ x_feature1_name + x_feature2_name + ... + x_featuren_name`. You should also notice that two of the x features, Race and Sex, are wrapped in `C()`. This indicates that these variables are *categorical* and that dummy variables need to be created in order to convert them to numerical quantities. Finally, note that y itself returns a Pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic**.

In [1]:
#Your code here
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm

In [3]:
titanic = pd.read_csv('titanic.csv', index_col = 0)
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Define X and Y

For our first foray into logistic regression, we are going to attempt to build a model that classifies whether an indivdual survived the Titanic shiwrech or not (yes its a bit morbid). Follow the programming patterns described above to define X and y.

In [5]:
#Your code here
y, X = dmatrices('Survived ~ Sex + Age  + Pclass',
                  titanic, return_type = "dataframe")

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"
Stats models was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertable due to not being full rank. In layman's terms, there was a lot of redundant superfulous data. Try removing some features from the model and running it again.

In [7]:
# Your code here
X

             Intercept  Sex[T.male]   Age  Pclass
PassengerId
1                  1.0          1.0  22.0     3.0
2                  1.0          0.0  38.0     1.0
3                  1.0          0.0  26.0     3.0
4                  1.0          0.0  35.0     1.0
5                  1.0          1.0  35.0     3.0
7                  1.0          1.0  54.0     1.0
8                  1.0          1.0   2.0     3.0
9                  1.0          0.0  27.0     3.0
10                 1.0          0.0  14.0     2.0
11                 1.0          0.0   4.0     3.0
12                 1.0          0.0  58.0     1.0
13                 1.0          1.0  20.0     3.0
14                 1.0          1.0  39.0     3.0
15                 1.0          0.0  14.0     3.0
16                 1.0          0.0  55.0     2.0
17                 1.0          1.0   2.0     3.0
19                 1.0          0.0  31.0     3.0
21                 1.0          1.0  35.0     2.0
22                 1.0          1.0  34.0     2.0
23                 1.0          0.0  15.0     3.0
24                 1.0          1.0  28.0     1.0
25                 1.0          0.0   8.0     3.0
26                 1.0          0.0  38.0     3.0
28                 1.0          1.0  19.0     1.0
31                 1.0          1.0  40.0     1.0
34                 1.0          1.0  66.0     2.0
35                 1.0          1.0  28.0     1.0
36                 1.0          1.0  42.0     1.0
38                 1.0          1.0  21.0     3.0
39                 1.0          0.0  18.0     3.0
...                ...          ...   ...     ...
857                1.0          0.0  45.0     1.0
858                1.0          1.0  51.0     1.0
859                1.0          0.0  24.0     3.0
861                1.0          1.0  41.0     3.0
862                1.0          1.0  21.0     2.0
863                1.0          0.0  48.0     1.0
865                1.0          1.0  24.0     2.0
866                1.0          0.0  42.0     2.0
867                1.0          0.0  27.0     2.0
868                1.0          1.0  31.0     1.0
870                1.0          1.0   4.0     3.0
871                1.0          1.0  26.0     3.0
872                1.0          0.0  47.0     1.0
873                1.0          1.0  33.0     1.0
874                1.0          1.0  47.0     3.0
875                1.0          0.0  28.0     2.0
876                1.0          0.0  15.0     3.0
877                1.0          1.0  20.0     3.0
878                1.0          1.0  19.0     3.0
880                1.0          0.0  56.0     1.0
881                1.0          0.0  25.0     2.0
882                1.0          1.0  33.0     3.0
883                1.0          0.0  22.0     3.0
884                1.0          1.0  28.0     2.0
885                1.0          1.0  25.0     3.0
886                1.0          0.0  39.0     3.0
887                1.0          1.0  27.0     2.0
888                1.0          0.0  19.0     1.0
890                1.0          1.0  26.0     1.0
891                1.0          1.0  32.0     3.0

[714 rows x 4 columns]

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [ ]:
#Your code here

## Your analysis here

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [ ]:
#your code here

## Summary 

Well done. In this lab we practiced using stats models to build a logistic regression model. We then reviewed interpreting the results, building upon our previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!